.myModal {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0, 0.5);
}

.myModalContent {
  box-sizing: border-box;
  position: relative;
  padding: 25px;
  background: #181820;
  border-radius: 16px;
  width: 100%;
  max-width: 450px;
}

.cross {
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background: url('../../../assets/cross.svg');
  background-size: cover;
  top: 13px;
  right: 16px;
  cursor: pointer;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 470px) {
  .myModal {
    padding: 0 10px;
  }
}